<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Translate</title>
    <script type=text/javascript src="{{ url_for('static', filename='translate_js.js') }}"></script>
</head>
<body>
<h1>Translate Document(Japanese to English)</h1>
<h4>upload only xlsx format</h4>
<div id="upload">
    <form id="upload-hc" >
        <input type = "hidden" id='otp' name='otp' value ={{name}}>
        <input type="file" name="file" accept=".csv" id="hc">
        <input type="submit" value="Translate">
    </form>
    <br>
    <p id="successAlert" style="display:none;">Success!</p>
	<p id="errorAlert" style="display:none;">Fail!</p>
    <p id="fileformaterror" style="display:none; color:red;">Upload Only XLSX Format files!</p>
</div>

<div>
    <form action="/downloadhc" method="post" enctype="multipart/form-data" id="download-hc">
        <input type = "hidden" id='otp' name='otp' value ={{name}}>
        <input type="submit" value="Download">
    </form>
</div>

</body>
</html>